.login {
    background-image: url('../image/loan1.jpg');
    background-size: 56vh;
    background-repeat: no-repeat;
    max-width: fit-content;
    min-width: fit-content;
    max-height: fit-content;
    size-adjust: 50px;
}

.login label+input {
    margin-top: 10px;
    font-size: small;

}

.register-submit {
    margin-left: 80px;
    padding: 10px;
    text-align: center;
    background-color: rgb(231, 105, 105);
    border-radius: 5px;
}

.register-body {
    overflow: scroll;
}

#Loan_Purpose {
    border-radius: 10px;
    padding-right: 30px;
}

.register input {
    padding-left: 100px;
    border-radius: 10px;
    border-style: none;
}

.register label+input {
    margin-bottom: 30px;
    padding: 10px;
}

.register {
    width: max-content;
    margin-left: 35%;
    margin-right: 50%;
    opacity: 1;
    background-color: rgba(219, 219, 206, 0.3);
}

.background-register {
    background-image: url('../image/loan2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}